<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/assets/normalize.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/index-2020.css' | url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="conference{% if splash_img %} darkbg{%endif%} page-{{ page.fileSlug }}">
      <header>
        <a id="menu-dat-link" href="/" aria-label="Dat events index" style="margin:0"></a>
        <nav id="menu">
          {% for entry in 2020.nav %}
            {% if entry.slug == page.fileSlug %}
            <div class="menu-link menu-link-{{ entry.skug }} menu-link-inactive">
              <span>{{ entry.title }}</span>
            </div>
            {% else %}
            <a href="{{ entry.href | url }}" class="menu-link menu-link-{{ entry.skug }} menu-link-active">{{ entry.title }}</a>
            {% endif %}
          {% endfor %}
        </nav>
        {{ header_title }}
      </header>
      {% if splash_img %}
        <div class="splash" style="background-image: url({{splash_img|escape }})">
        {{ splash_text | md }}
        </div>
      {% endif %}
      <main>
        {{ content }}
      </main>
  </body>
</html>
