<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/assets/normalize.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/index.css' | url }}">
    </head>
    <body>
      <header>
        <nav id="menu">
          <h2>
            <a id="menu-dat-link" href="/">Dat Protocol events</a>
          </h2>
          <a href="/2020">2020</a>
          <a href="/2019">2019</a>
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
      <script type="text/javascript" src="{{ '/assets/bees.js' | url }}"></script>
    </body>
</html>
