<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/assets/normalize.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/index.css' | url }}">
    </head>
    <body class="conference{% if splash_img %} darkbg{%endif%}">
      <header>
        <nav id="menu">
          <a id="menu-dat-link" href="/" aria-label="Dat events index" style="margin:0"></a>
          <a href="/2020/">About</a>
          <a href="/2020/agenda/">Agenda</a>
          <a href="/2020/coc/">Code of conduct</a>
        </nav>
        {{ header_title }}
      </header>
      {% if splash_img %}
        <div class="splash" style="background-image: url({{splash_img|escape }})">
        {{ splash_text }}
        </div>
      {% endif %}
      <main>
        {{ content }}
      </main>
  </body>
</html>
