---
layout: layout-2020

---

<div class="speaker-grid">
    {% assign speakers = 2020.speakers | sort: "name" %}
    {% for speaker in speakers %}
        <a href="/2020/person/{{speaker.code}}" id="speaker-{{speaker.code}}" class="speaker-ident">
            <svg viewBox="0 0 360 360">
                <mask id="speaker-mask-{{speaker.code}}">
                    <path d="{{ shapes | forIndex: forloop.index }}" fill="white" />
                </mask>
                {% if speaker.avatar %}
                    <image href="{{speaker.avatar}}" mask="url(#speaker-mask-{{speaker.code}})" width="360" height="360" />
                {% else %}
                    <rect width="360" height="360" fill="red" mask="url(#speaker-mask-{{speaker.code}})" />
                {% endif %}
            </svg>
            <span class="speaker-name">{{ speaker.name }}</span>
        </a>
    {% endfor %}
</div>
