---
pagination:
    data: 2020.speakers
    size: 1
    alias: speaker
permalink: "2020/person/{{ speaker.code }}/"
layout: layout-2020
header_title: <h1>Person details</h1>

---

<h1>{{ speaker.name }}</h1>

<div class="left">
    {{ speaker | speakerImage }}
</div>

<div class="biography">{{ speaker.biography | default: "This person has not written a bio yet." | md }}</div>

<ul class="submission-list">
{% for submission in speaker.submissions %}
    {% assign talk = 2020.talks | find: "code", submission %}
    <li>
        <a href="/2020/talk/{{talk.code}}">
            {{talk.title}}
        </a>
    </li>
{% endfor %}
</ul>
