---
pagination:
    data: 2020.speakers
    size: 1
    alias: speaker
permalink: "2020/person/{{ speaker.code }}/"
layout: layout-2020
header_title: <h1>Person details</h1>

---
<div class="speaker-section">
    <div class="speaker-image">
        {{ speaker | speakerImage }}
    </div>
    <div class="speaker-content">
        <h1>{{ speaker.name }}</h1>

        {% assign twitter = speaker.simpleAnswers['Twitter'] %}
        {% assign github = speaker.simpleAnswers['Github Account'] %}

        {% if twitter or github %}
        <ul class="sns-link">
        {% if twitter %}
        <li>
            <a href="https://twitter.com/{{twitter}}" class="sns-link-twitter">@{{twitter}}</a>
        </li>
        {% endif %}
        {% if github %}
        <li>
            <a href="https://github.com/{{github}}" class="sns-link-github">https://github.com/{{github}}</a>
        </li>
        {% endif %}
        </ul>
        {% endif %}
        <div class="speaker-biography">{{ speaker.biography | default: "This person has not written a bio yet." | md }}</div>
    </div>
</div>

<ul class="submission-list">
{% for submission in speaker.submissions %}
    {% assign talk = 2020.talks | find: "code", submission %}
    <li>
        <a href="/2020/talk/{{talk.code}}">
            {{talk.title}}
        </a>
    </li>
{% endfor %}
</ul>
