---
pagination:
    data: 2020.talks
    size: 1
    alias: talk
permalink: "2020/talk/{{ talk.code }}/"
layout: layout-2020
---

<h1>{{ talk.title }}</h1>

<h3>Abstract</h3>
<div class="abstract">
  {{ talk.abstract | md }}
</div>

<h3>Description</h3>
<div class="description">
  {{ talk.description | md  }}
</div>

<div class="duration">
  Expected duration: {{ talk.duration }} hours
</div>

<div class="slot">
  Time slot:
  <span class="when-tz" data-start="{{talk.slot.start}}" data-end="{{talk.slot.end}}">
    {{ talk.slot.start }} - {{ talk.slot.end }}
  </span>
</div>

<h4>Persons:</h4>
<ul>
  {% for speaker in talk.speakers %}
  <li>
    <a href="/2020/person/#{{speaker.code}}">{{speaker.name}}</a>
  </li>
  {% endfor %}
</ul>

<h4>Resources:</h4>
<ul>
{% for resource in talk.resources %}
  <li>
    <a href="{{resource.resource}}">{{resource.description}}</a>
  </li>
{% endfor %}
</ul>

