---
pagination:
    data: 2020.talks
    size: 1
    alias: talk
permalink: "2020/talk/{{ talk.code }}/"
layout: layout-2020
---

<h1>{{ talk.title }}</h1>

<h3>Abstract</h3>
<div class="abstract">
  {{ talk.abstract | md }}
</div>

<h3>Description</h3>
<div class="description">
  {{ talk.description | md  }}
</div>

<div class="duration">
  Expected duration: {{ talk.duration }} hours
</div>

<div class="slot">
  Time slot (in <span class="tzselector-btn">{{ 2020.event.timezone }}</span>):
  <span class="when-tz" data-start="{{talk.slot.start}}" data-end="{{talk.slot.end}}">
    {{ talk.slot.start | onlytime }} - {{ talk.slot.end | onlytime }}
  </span>
</div>

<h4>Persons:</h4>
<ul class="speaker-list">
  {% for speaker in talk.speakers %}
  <li>
    <a href="/2020/person/{{speaker.code}}">
      {{ speaker | speakerImage }}
      <span>{{speaker.name}}</span>
    </a>
  </li>
  {% endfor %}
</ul>
