---
pagination:
    data: 2020.talks
    size: 1
    alias: talk
permalink: "2020/talk/{{ talk.code }}/"
layout: layout-2020
header_title: <h2>Talk information</h2>
---

<div class="talk-head">
  <aside class="add-to-gcal submission-link-btn">
    <a href="https://calendar.google.com/calendar/r/eventedit?text={{ talk.title | urlencode }}&dates={{ talk.slot.start | militarytime }}/{{ talk.slot.end | militarytime }}&details=Link+to+the+talk+at:+https://events.dat.foundation/talks/{{ talk.code }}">Add to GCal</a>
    <a href="{{domain.url}}/{{ talk.ical }}">Get iCal</a>
  </aside>
  <h1>{{ talk.title }}</h1>
</div>

<h3>Description</h3>
<div class="abstract talk-abstract">
  {{ talk.abstract | md }}
</div>
{% if talk.description %}
<div class="description talk-description">
  {{ talk.description | md  }}
</div>
{% endif %}

<div class="duration talk-duration">
  Expected duration: {{ talk.duration | duration_to_human }}
</div>

<div class="slot">
  Time slot (in <span class="tzselector-btn">{{ 2020.event.timezone }}</span>):
  <span class="when-tz" data-start="{{talk.slot.start}}" data-end="{{talk.slot.end}}">
    {{ talk.slot.start | dayFormat }} - {{ talk.slot.end | onlytime }}
  </span>
</div>

<h4>Conducted by</h4>
<ul class="speaker-list">
  {% for speaker in talk.speakers %}
  <li>
    <a href="/2020/person/{{speaker.code}}">
      {{ speaker | speakerImage }}
      <span>{{speaker.name}}</span>
    </a>
  </li>
  {% endfor %}
</ul>
