---
pagination:
    data: 2020.talks
    size: 1
    alias: talk
permalink: "2020/talk/{{ talk.code }}/"
---

<h1>{{ talk.title }}</h1>

<h2>Abstract</h2>
<div class="abstract">
  {{ talk.abstract | md }}
</div>

<h2>Description</h2>
<div class="description">
  {{ talk.description | md  }}
</div>

<div class="duration">
  {{ talk.duration }}
</div>

<div class="slot">
  {{ talk.slot.start }} - {{ talk.slot.end }}
</div>

<h4>Speakers:</h4>
<ul>
  {% for speaker in talk.speakers %}
  <li>
    <a href="/2020/speaker/{{speaker.code}}">{{speaker.name}}</a>
  </li>
  {% endfor %}
</ul>

<h4>Resources:</h4>
<ul>
{% for resource in talk.resources %}
  <li>
    <a href="{{resource.resource}}">{{resource.description}}</a>
  </li>
{% endfor %}
</ul>
